{% extends 'base.html' %}
{% load static %}

{% block body_block%}

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg-10">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content text-center">
                        <div class="section-heading">
                            <h2 class="sec__title text-white">Discover Trizen's Luxury Living</h2>
                        </div>
                        <span class="arrow-blink">
                            <i class="la la-arrow-down"></i>
                        </span>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
    <div class="bread-svg-box">
        <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
    </div><!-- end bread-svg -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START GALLERY AREA
================================= -->
<section class="gallery-area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2 class="sec__title">Gallery Grid</h2>
                    <p class="sec__desc pt-2">We used bootstrap grid layout format You can change grid format from 2 to 5 responsive-columns</p>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row padding-top-50px">
            <div class="col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img5.jpg' %}" data-caption="Showing image 1">
                        <img src="{% static 'images/img5.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img29.jpg' %}" data-caption="Showing image 2">
                        <img src="{% static 'images/img29.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img30.jpg' %}" data-caption="Showing image 3">
                        <img src="{% static 'images/img30.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img31.jpg' %}" data-caption="Showing image 4">
                        <img src="{% static 'images/img31.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img32.jpg' %}" data-caption="Showing image 5">
                        <img src="{% static 'images/img32.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img33.jpg' %}" data-caption="Showing image 6">
                        <img src="{% static 'images/img33.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end gallery-area -->
<!-- ================================
    END GALLERY AREA
================================= -->

<!-- ================================
    START GALLERY AREA
================================= -->
<section class="gallery-area section-bg section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2 class="sec__title">Gallery Masonry</h2>
                    <p class="sec__desc pt-2">We used bootstrap grid layout format You can change grid format from 2 to 5 responsive-columns</p>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row padding-top-50px grid-masonry">
            <div class="grid-masonry-item grid-masonry-item-width-1 col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img5.jpg' %}" data-caption="Showing image 1">
                        <img src="{% static 'images/img5.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="grid-masonry-item grid-masonry-item-width-2 col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img29.jpg' %}" data-caption="Showing image 2">
                        <img src="{% static 'images/img29.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="grid-masonry-item col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img30.jpg' %}" data-caption="Showing image 3">
                        <img src="{% static 'images/img30.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="grid-masonry-item grid-masonry-item-width-3 col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img31.jpg' %}" data-caption="Showing image 4">
                        <img src="{% static 'images/img31.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="grid-masonry-item col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img32.jpg' %}" data-caption="Showing image 5">
                        <img src="{% static 'images/img32.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="grid-masonry-item grid-masonry-item-width-4 col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img33.jpg' %}" data-caption="Showing image 6">
                        <img src="{% static 'images/img33.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="grid-masonry-item col-lg-4">
                <div class="gallery-card">
                    <a class="d-block" data-fancybox="gallery" href="{% static 'images/img34.jpg' %}" data-caption="Showing image 7">
                        <img src="{% static 'images/img34.jpg' %}">
                    </a>
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end gallery-area -->
<!-- ================================
    END GALLERY AREA
================================= -->

<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area subscriber-area section-bg-2 padding-top-60px padding-bottom-60px">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="section-heading">
                    <p class="sec__desc text-white-50 pb-1">Newsletter sign up</p>
                    <h2 class="sec__title font-size-30 text-white">Subscribe to Get Special Offers</h2>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-7 -->
            <div class="col-lg-5">
                <div class="subscriber-box">
                    <div class="contact-form-action">
                        <form action="#">
                            <div class="input-box">
                                <label class="label-text text-white">Enter email address</label>
                                <div class="form-group mb-0">
                                    <span class="la la-envelope form-icon"></span>
                                    <input class="form-control" type="email" name="email" placeholder="Email address">
                                    <button class="theme-btn theme-btn-small submit-btn" type="submit">Subscribe</button>
                                    <span class="font-size-14 pt-1 text-white-50"><i class="la la-lock mr-1"></i>Don't worry your information is safe with us.</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
    END CTA AREA
================================= -->

{% endblock %}